<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'basic.css' %}">
    <link rel="stylesheet" href="{% static 'adv.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Document</title>
</head>
<body>
    <img src="{% static 'joker.jpg'%}" class="kox">
    <div class="container-fluid box">
    <div class="row justify-content-around">
        <div class="col-xs-2">
          <div class="dropdown">
          <button class="dropbtn btn btn-light">REVIEWS</button>
          <div class="dropdown-content">
              <a href="#">FACEBOOK</a>
              <a href="#">TWITTER</a>
              <a href="#">INSTGRAM</a>
          </div>
        </div>
        </div>
        <div class="col-xs-2">
          <div class="dropdown">
          <button class="dropbtn btn btn-light">TECH</button>
          <div class="dropdown-content">
              <a href="mobile">MOBILE</a>
              <a href="laptop">LAPTOP</a>
              <a href="camera">CAMERA</a>
              <a href="smartwatch">SMARTWATCH</a>
              <a href="others">OTHERS</a>
          </div>
         </div>
        </div>
        <div class="col-xs-2">
          <div class="dropdown">
          <button class="dropbtn btn btn-light">SCIENCE</button>
          <div class="dropdown-content">
              <a href="#">HEALTH</a>
              <a href="#">ENERGY</a>
              <a href="#">ENVIORNMENT</a>
              <a href="#">LIFESCIENCE</a>
              <a href="#">PHYSICS</a>
          </div>
         </div>
        </div>
        <div class="col-xs-2">
          <div class="dropdown">
          <button class="dropbtn btn btn-light">CREATORS</button>
          <div class="dropdown-content">
              <a href="#">YOUTUBE</a>
              <a href="#">GAMERS</a>
              <a href="#">ARTIST</a>
              <a href="#">CELEBRITY</a>
              <a href="#">PUBLIC</a>
            </div>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="dropdown">
          <button class="dropbtn btn btn-light">ENETERTAINMENT</button>
          <div class="dropdown-content">
              <a href="#">FLIMS</a>
              <a href="#">TV</a>
              <a href="#">GAMES</a>
              <a href="#">BOOKS</a>
              <a href="#">COMICS</a>
            </div>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="dropdown">
          <button class="dropbtn btn btn-light">ACCOUNT</button>
          <div class="dropdown-content">
              <a href="profile">PROFILE</a>
              <a href="login">LOGIN</a>
              <a href="signup">SIGNUP</a>
              <a href="superuser">SUBMIT ARTICLE</a>
          </div>
         </div>
        </div>
    </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 fox box">
          <div class="col-md-12"><img src="media/staticfiles/{{x8}}"></div><br>
          <div class="col-md-12"><a href="news8"><p>{{z8}}</p></a></div>
       </div>
       <div class="col-md-4 fox box">
        <div class="col-md-12"><img src="media/staticfiles/{{x9}}"></div><br>
        <div class="col-md-12"><a href="news9"><p>{{z9}}</p></a></div>
      </div> 
       <div class="col-md-4 fox box">
        <div class="col-md-12"><img src="media/staticfiles/{{x10}}"></div><br>
        <div class="col-md-12"><a href="news10"><p>{{z10}}</p></a></div>
        </div>
        </div>
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 fox box">
              <div class="col-md-12"><img src="media/staticfiles/{{x}}"></div><br>
              <div class="col-md-12"><a href="news5"><p>{{z}}</p></a></div>
           </div>
           <div class="col-md-4 fox box">
            <div class="col-md-12"><img src="media/staticfiles/{{x2}}"></div><br>
            <div class="col-md-12"><a href="news6"><p>{{z2}}</p></a></div>
          </div> 
           <div class="col-md-4 fox box">
            <div class="col-md-12"><img src="media/staticfiles/{{x3}}"></div><br>
            <div class="col-md-12"><a href="news7"><p>{{z3}}</p></a></div>
          </div> 
        </div>
    </div>
        <br>
    <div class="container-fluid">
      <div class="row lox">
          <div class="col-md-2 kox py-4"><img src="media/staticfiles/{{x4}}"></div>
          <div class="col-md-6"><a href="news1"><p class="lox box">{{z4}}</p></a></div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row lox">
          <div class="col-md-2 kox p-1"><img src="media/staticfiles/{{x5}}"></div>
          <div class="col-md-6"><a href="news2"><p class="lox box">{{z5}}</p></a></div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row lox">
          <div class="col-md-2 kox p-1"><img src="media/staticfiles/{{x6}}"></div>
          <div class="col-md-6"><a href="news3"><p class="lox box">{{z6}}</p></a></div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row lox">
          <div class="col-md-2 kox p-1"><img src="media/staticfiles/{{x7}}"></div>
          <div class="col-md-6"><a href="news4"><p class="lox box">{{z7}}</p></a></div>
      </div>
    </div>
    <div class="container-fluid">
      <a href=""><h1 class="h1">more stories</h1></a>
    </div>
    <div class="container-fluid box">
        <div class="row">
          <div class="col-md-3">
            <div>
              <h4>ABOUT US</h4><br>
              <h4>PRIVACY</h4><br>
              <h4>TERMS</h4>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="row"></div>
            <div class="row p-4">
            <div class="p-3"><a href="https://www.fb.com"><i class="fab fa-facebook-square" style="font-size: 2.73em"></i></a></div>
            <div class="p-3"><a href="https://www.twitter.com"><i class="fab fa-twitter" style="font-size: 2.73em"></i></a></div>
            <div class="p-3"><a href="https://www.youtube.com"><i class="fab fa-youtube" style="font-size: 2.73em"></i></a></div>
            <div class="p-3"><a href="https://www.gmail.com"><i class="fas fa-envelope-open-text" style="font-size: 2.73em"></i></a></div>
            <div class="p-3"><a href="https://www.telegram.com"><i class="fab fa-telegram" style="font-size: 2.73em"></i></a></div>
            <div class="p-3"><a href="https://www.instagram.com"><i class="fab fa-instagram-square" style="font-size: 2.73em"></i></a></div>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <h4>FEEDBACK</h4><br>
              <h4>SUBSCRIBE HERE</h4><br>
              <h4>DONATE US</h4>
            </div>
          </div>
        </div>
      </div>
    <script src="{% static 'jquery.js'%}"></script>
</body>
</html>